@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}
body{
    background: #1C1C1C;
}
:root {
    --RB: "Roboto-Bold", sans-serif;
    --RM: "Roboto-Medium", sans-serif;
    --RR: "Roboto-Regular", sans-serif;
}
header, main, footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header{
    height: 886.17px;
    background:url(../assets/img/Mask-Group.svg) no-repeat center/cover ;
}
.container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    
}
.menu{
    align-items: center;
    margin-bottom: 200px;
}
.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    &__me img{
        width: 66px;
    }
    &__menu{
        display: flex;
        list-style: none;
        gap: 28px;
        & a{
            font-family: var(--RR);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            opacity: 0.7;
            color: #FFFFFF;
            &:hover{
                font-family: var(--RB);
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
                opacity: 1;
            }
        }
    }
    &__button{
        padding: 15px 37px;
        background: #F6762C;
        border-radius: 5px;
        font-family: var(--RM);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
}
.head-banner{
    display: flex;
    max-width: 555px;
    height: 780px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    &__subtitle{
        font-family: var(--RM);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    &__title{
        display: flex;
        flex-direction: column;
        font-family: var(--RM);
        font-style: normal;
        font-weight: 500;
        font-size: 57.33px;
        line-height: 67px;
        color: #FFFFFF;
    }
    &__desc{
        font-family: var(--RR);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        opacity: 0.7;
    }
}
.food-list{
    padding: 100px 0;
    display: grid;
    grid-template-rows: 323px;
    grid-template-columns: repeat(4, 262px);
    gap: 31px;
    &__cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #312F30;
        border-radius: 10px;
        &__title{
            font-family:var(--RM);
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #FFFFFF;
            margin-top: 28px;
        }
        &__text{
            font-family: var(--RR);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.7;
            margin-top: 13px;
        }
    }
}
.grey{
    width: 100%;
    background: #312F30;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}
.burger{
    display: flex;
    align-items: center;
    gap: 158px;
    padding: 22px 0;
    &__desc{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 371px;
        width: 100%;
        &__title{
            font-family: var(--RM);
            font-style: normal;
            font-weight: 500;
            font-size: 44.2px;
            line-height: 52px;
            color: #FFFFFF;
            margin-bottom: 24px;
        }
        &__text{
            font-family: var(--RR);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            opacity: 0.7;
            margin-bottom: 13px;
        }
        &__price{
            font-family: var(--RM);
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.1em;
            color: #F6762C;
            margin-bottom: 11px;
            &__old{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.1em;
                text-decoration-line: line-through;
                color: #F6762C;
                opacity: 0.5;
                margin-left: 6px;
            }
        }
    }
}
.product{
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 555px);
    margin-top: 150px;
    gap: 30px;
    &__cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__desc{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 264px;
            width: 100%;
            &__title{
                font-family: var(--RM);
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 35px;
                color: #FFFFFF;
                margin-bottom: 20px;
            }
            &__text{
                font-family:var(--RR);
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                opacity: 0.7;
                margin-bottom: 11px;
            }
            &__price{
                font-family: var(--RM);
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.1em;
                color: #F6762C;
                margin-bottom: 11px;
                &__old{
                    font-family: var(--RM);
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.1em;
                    text-decoration-line: line-through;
                    color: #F6762C;
                    opacity: 0.5;
                    margin-left: 10px;
                }
            }
            
        }
    }
    & .burking, .coffe{
        align-items: flex-end;
    }
    & .pizza, .papajohns{
        padding-left: 50px;
    }
    & .coffe{
        background: url(../assets/img/coffe.svg) no-repeat center/cover;
    }
    & .pizza{
        
        background: url(../assets/img/pizza.svg) no-repeat center/cover;
        & .product__cart__desc{
            max-width: 252px;
        }
    }
    & .burking{
        background: url(../assets/img/burgerking.svg) no-repeat center/cover;
    }
    & .papajohns{
        background: url(../assets/img/papajohns.svg) no-repeat center/cover;
    }
    
    
}
.feedback{
    display: flex;
    gap: 118px;
    max-width: 851px;
    width: 100%;
    margin-top: 146px;
    &__user{
        width: 365px;
        height: 361px;
        display: flex;
        align-items: center;
        &__circle1{
            width: 346px;
            height: 346px;
            border-radius: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px dashed rgba(246, 118, 44, 0.3);
            &__img{
                position: absolute;
                opacity: 1;
                z-index: 2;
            }
            & .one{
                left: -21px;
                top: 43px;
            }
            & .two{
                right: 21px;
                top: 10px;
            }
            & .three{
                left: 50px;
                bottom: -7px;
            }
            & .four{
                right: 9px;
                bottom: 41px;
            }
            &__circle2{
                width: 230px;
                height: 230px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                border: 1px dashed rgba(246, 118, 44, 0.3);
            }
        }
    }
    &__commit{
        max-width: 368px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .product__cart__desc__text{
            text-align: center;
            margin-bottom: 27px;
        }
        &__quote{
            width: 47px;
            height: 46px;
            margin-bottom: 37px;
        }
        &__title{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: var(--RM);
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
            &__subtitle{
                font-size: 12px;
                line-height: 14px;
                opacity: 0.7;
            }
        }
    }
}
.download{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 60px 0;
    & h2{
        font-family: var(--RM);
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        color: #FFFFFF;

    }
}
.footer{
    flex-direction: row;
    justify-content: center;
    gap: 50px 158px;
    flex-wrap: wrap;
    padding: 130px 0;
}
.footer__menu{
    display: flex;
    flex-direction: column;
    & img {
        width: 74px;
        height: 59px;
    }
    &__logo{
        gap: 13px !important ;
        margin-top: 20px !important;
        & li{
            color: #F6762C;
            display: flex;
            gap: 7px;
        }
    }
    & ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }
    & h3{
        font-family: var(--RM);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
    & li a{
        font-family: var(--RR);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        opacity: 0.8;
    }
}
.social ul {
    flex-direction: row !important;
    & img{
        width: 15px !important;
        height: 15px !important;
    }
}
@media (max-width: 1200px){
    .food-list{
        grid-template-rows: repeat(2, 323px);
        grid-template-columns: repeat(3, 262px);
    }
}
@media (max-width: 1170px){
    .product{
        grid-template-rows: repeat(4, 300px);
        grid-template-columns: repeat(1, 555px);
    }
    
}

