@import url(fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #1C1C1C;
}

:root {
  --RB: "Roboto-Bold", sans-serif;
  --RM: "Roboto-Medium", sans-serif;
  --RR: "Roboto-Regular", sans-serif;
}

header, main, footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 886.17px;
  background: url(../assets/img/Mask-Group.svg) no-repeat center/cover;
}

.container {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu {
  align-items: center;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head__menu {
  display: flex;
  list-style: none;
  gap: 28px;
}
.head__menu a {
  font-family: var(--RR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.7;
  color: #FFFFFF;
}
.head__menu a:hover {
  font-family: var(--RB);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 1;
}
.head__button {
  padding: 15px 37px;
  background: #F6762C;
  border-radius: 5px;
  font-family: var(--RM);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.head-banner {
  display: flex;
  max-width: 555px;
  height: 780px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.head-banner__subtitle {
  font-family: var(--RM);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.head-banner__title {
  display: flex;
  flex-direction: column;
  font-family: var(--RM);
  font-style: normal;
  font-weight: 500;
  font-size: 57.33px;
  line-height: 67px;
  color: #FFFFFF;
}
.head-banner__desc {
  font-family: var(--RR);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.7;
}

.food-list {
  padding: 100px 0;
  display: grid;
  grid-template-rows: 323px;
  grid-template-columns: repeat(4, 262px);
  gap: 31px;
}
.food-list__cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #312F30;
  border-radius: 10px;
}
.food-list__cart__title {
  font-family: var(--RM);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  margin-top: 28px;
}
.food-list__cart__text {
  font-family: var(--RR);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 13px;
}

.grey {
  width: 100%;
  background: #312F30;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger {
  display: flex;
  align-items: center;
  gap: 158px;
  padding: 22px 0;
}
.burger__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 371px;
  width: 100%;
}
.burger__desc__title {
  font-family: var(--RM);
  font-style: normal;
  font-weight: 500;
  font-size: 44.2px;
  line-height: 52px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.burger__desc__text {
  font-family: var(--RR);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 13px;
}
.burger__desc__price {
  font-family: var(--RM);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #F6762C;
  margin-bottom: 11px;
}
.burger__desc__price__old {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #F6762C;
  opacity: 0.5;
  margin-left: 6px;
}

.product {
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(2, 555px);
  margin-top: 150px;
  gap: 30px;
}
.product__cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product__cart__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 264px;
  width: 100%;
}
.product__cart__desc__title {
  font-family: var(--RM);
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.product__cart__desc__text {
  font-family: var(--RR);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 11px;
}
.product__cart__desc__price {
  font-family: var(--RM);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #F6762C;
  margin-bottom: 11px;
}
.product__cart__desc__price__old {
  font-family: var(--RM);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #F6762C;
  opacity: 0.5;
  margin-left: 10px;
}
.product .burking, .product .coffe {
  align-items: flex-end;
}
.product .pizza, .product .papajohns {
  padding-left: 50px;
}
.product .coffe {
  background: url(../assets/img/coffe.svg) no-repeat center/cover;
}
.product .pizza {
  background: url(../assets/img/pizza.svg) no-repeat center/cover;
}
.product .pizza .product__cart__desc {
  max-width: 252px;
}
.product .burking {
  background: url(../assets/img/burgerking.svg) no-repeat center/cover;
}
.product .papajohns {
  background: url(../assets/img/papajohns.svg) no-repeat center/cover;
}

.feedback {
  display: flex;
  gap: 118px;
}
.feedback__user__commit {
  max-width: 368px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__user__commit .product__cart__desc__text {
  text-align: center;
  margin-bottom: 27px;
}
.feedback__user__commit__img {
  margin-bottom: 37px;
}
.feedback__user__commit__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--RM);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.feedback__user__commit__title__subtitle {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */